{% extends 'base.html' %}
{% block content %}
<h4>Note: I can only get what our supplier (<a href="http://chucks85th.com/">Chucks Hop Shop</a>) has available. I will give priority to requests. He sends us an email each week.</h4>
<ul>
{% for request in Requests %}
    <li>{{request}}</li>
{% endfor %}
</ul>
<br>
<form method="post">
    {% csrf_token %}
    {{ form }}<br>
    <input type="submit" value="Submit"></input>
</form>
<form method="post">
    {% csrf_token %}
    {{ newform }}<br>
    <input type="submit" value="Submit"></input>
</form>
{% endblock %}
