{% load staticfiles %}
<html>
    <head>
        <title>Beervintory</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Beervintory</a></h1>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/beer">Beers</a></li>
            <li><a href="/request">Request</a></li>
            <li><a href="/rate">Rate</a></li>
        </ul>
        <br>
            {% block content %}
            {% endblock %}
    </body>
</html>
