{% set active_nav = active_nav|default('index') %}
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='jquery-min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Beervintory</title>
</head>
<body>

    <header>
        <a href="/" id="site-logo">Beervintory</a>
    </header>

    <nav id="nav" class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li {% if active_nav == "index" %} class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if active_nav == "floors" %} class="active"{% endif %}><a href="/floors">Floors</a></li>
                <li {% if active_nav == "kegerators" %} class="active"{% endif %}><a href="/kegerators">Kegerators</a></li>
                <li {% if active_nav == "kegs" %} class="active"{% endif %}><a href="/kegs">Kegs</a></li>
                <li {% if active_nav == "beers" %} class="active"{% endif %}><a href="/beers">Beers</a></li>
                <li {% if active_nav == "request" %} class="active"{% endif %}><a href="/request">Request</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if logged_in %}
                    <li><a align="right" href="/logout">Logout</a></li>
                {% else %}
                    <li><a align="right" href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <p>This is 100% a beta/alpha, please check the <a href="https://github.west.isilon.com/bhanderson/beervintory">github</a> for issues/requests.</p>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class='col-xs-10 col-xs-offset-0'>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
