{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% set active_nav = 'kegs' %}
{% block content %}
<script>
$(window).load( function() {
	var beerColors = {
		'Pale Ale' : '#FACA4C',
		'IPA' : '#FACA4C',
		'Golden IPA' : '#FACA4C',
		'Witbier' : '#FF9900',
		'Red' : '#b82e2e',
		'Amber' : '#B15F0C'
	};
	var beerHeight = ($('.keg-content').height() - 2) * $('#filled')[0].value / 100;
	$('#beer').height(beerHeight);
	var beerColor = $('#beer-info').text().trim();
	if(!(beerColor in beerColors)){
		beerColor = 'Pale Ale';
	}
	$('#beer').css('background-color', beerColors[beerColor]);
	var airHeight = $('.keg-content').height() - beerHeight;
	$('#air').height(airHeight);
});
</script>

<div class="obj">
	{% if keg %}
	<a href="{{ url_for('beer', id=beer.id)}}">{{ beer }}</a>
	<div id='beer-info'>
		{{ keg.beer.style }}
	</div>
	<div class='keg-visual'>
		<div class='keg-top'></div>
		<div class='keg-body'>
			<div class='keg-content'>
				<div id='air'></div>
				<div id='beer'></div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<div class="full">
	<table>
		<colgroup>
			<col span="1", style="background-color:lightblue">
		</colgroup>
		<tr>
			<th><strong>Kegerator:</strong></th>
			<th>
				<a href="{{url_for('kegerator', id=keg.kegerator.id)}}">{{keg.kegerator}}</a>
			</th>
		</tr>
		<tr>
			<th><strong>Chilled:</strong></th>
			<th>{{ keg.chilled }}</th>
		</tr>
		<tr>
			<th><strong>Filled %:</strong></th>
			<th>{{ keg.filled }}</th>
		</tr>
		<tr>
			<th><strong>Tapped:</strong></th>
			<th>{{ keg.tapped }}</th>
		</tr>
		<tr>
			<th><strong>Stocked:</strong></th>
			<th>{{ keg.stocked }} </th>
		</tr>
	</table>
</div>
</div>
{% if admin %}
<button class='btn btn-default' data-toggle="modal" data-target="#myModal">
	Edit this Keg
</button>
{% endif %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop = "false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				{{ macros.list_fields(form) }}
			</div> <!-- closing modal body -->
		</div> <!-- closing modal content -->
	</div> <!-- closing modal dialog -->
</div> <!-- closing modal -->

{% endblock %}
