<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="{{ url_for('static', filename='jquery-min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>Beervintory</title>
		<div align="right">
			<a href="/logout" class="btn btn-default navbar-btn">Logout</a>
		  </div>
	</head>
	<body>
		<header>
			<a href="/" id="site-logo">Beervintory</a>
		</header>
		<nav class="navbar navbar-default">
			<a href="/" class="btn btn-default navbar-btn">Home</a>
			<a href="/floors" class="btn btn-default navbar-btn">Floors</a>
			<a href="/kegerators" class="btn btn-default navbar-btn">Kegerators</a>
			<a href="/kegs" class="btn btn-default navbar-btn">Kegs</a>
			<a href="/beers" class="btn btn-default navbar-btn">Beers</a>
			<a href="/request" class="btn btn-default navbar-btn">Request</a>
		</nav>
		This is 100% a beta/alpha, please check the <a href="https://github.west.isilon.com/bhanderson/beervintory">github</a> for issues/requests.
		<hr>
		<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		</div>
<div class='col-xs-10 col-xs-offset-0'>
		{% block content %}{% endblock %}
	</body>
</html>
