{% extends "base.html" %}
{% block content %}
<div class="list">
	<ul>
		{% if admin %}
			<li><a href="{{url_for('beer', id='add')}}"><strong>Add Beer</strong></a></li>
		{% endif %}
	</ul>
	{% if beers %}
		{% for beer in beers %}
			{% if beer.kegs %}
				{% if beer.kegs[0].stocked %}
					<ul>
						<li><a href="{{url_for('beer', id=beer.id)}}">{{beer}}</a></li>
					</ul>
				{% endif %}<!-- end if stocked -->
			{% endif %}<!-- end if beer.kegs -->
		{% endfor %}<!-- end for beer in beers -->
		<p>Out of stock:</p>
		{% for beer in beers %}
			{% if beer.kegs %}
				{% if not beer.kegs[0].stocked %}
					<ul>
						<li><a href="{{url_for('beer', id=beer.id)}}">{{beer}}</a></li>
					</ul>
				{% endif %}<!-- end if not stocked -->
			{% endif %}<!-- end if beer.kegs -->
			{% if not beer.kegs %}
				<ul>
					<li><a href="{{url_for('beer', id=beer.id)}}">{{beer}}</a></li>
				</ul>
			{% endif %}<!-- end if not beer.kegs -->
		{% endfor %}<!-- end for beer in beers -->
	{% endif %}<!-- end if beers -->
</div>
{% endblock %}
