{% extends "base.html" %}
{% block content %}
	{% if beer %}
		{{ beer }}
	{% endif %}
	<form action="" method="post" name="beer">
		{{ form.hidden_tag() }}
		<p>
			Name:<br>
			{{ form.name }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Style:<br>
			{{ form.style }}<br>
			{% for error in form.style.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Brewer:<br>
			{{ form.brewer }}<br>
			{% for error in form.brewer.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			ABV:<br>
			{{ form.abv }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Beer Advocate Score:<br>
			{{ form.ba_score }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Isi Score:<br>
			{{ form.isi_score }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Link:<br>
			{{ form.link }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.submit }}
		</p>
	</form>
{% endblock %}
