{% extends "base.html" %}
{% block content %}
	<div class="obj">
	{% if floor %}
		{{ floor }}
	{% endif %}
	</div>
	<form action="" method="post" name="floor" class="fields">
		{{ form.hidden_tag() }}
		<p>
			Number:<br>
			{{ form.number }}<br>
			{% for error in form.number.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Kegerators:<br>
			<ul>
			{% for kegerator in form.kegerators %}
			<li>{{ kegerator }}<br>
			{% endfor %}
			</ul>
			{% for error in form.kegerators.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.submit }}
		</p>
	</form>
	<div class="full">
	</div>
{% endblock %}
