{% extends "base.html" %}
{% block content %}
		<ul>
		{% for floor in floors %}
		<li><a href="{{ url_for('floor', id=floor.id)}}">{{floor}}</a></li>
		<ul>
			{% for kegerator in kegerators %}
				{% if kegerator.floor == floor %}
				<li><a href="{{ url_for('kegerator', id=kegerator.id)}}">{{ kegerator }}</a></li>
					<ul>
						{% if not kegerator.kegs %}
							<li> Empty :( </li>
						{%endif%}
						{% for keg in kegerator.kegs %}
							<li> <a href="{{ url_for('beer', id=keg.beer_id)}}">{{ keg }}</a> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}
		</ul>
		<p>
		<a href="mailto:isi.sea.beer@isilon.com">Report a Keg empty!</a>
		</p>
	</div>
{% endblock %}
