{% extends "base.html" %}
{% block content %}
	<div class="obj">
		{% if keg %}
			{{ keg }}
		{% endif %}
	</div>
	<form action="" method="post" name="keg" class="fields">
		{{ form.hidden_tag() }}
		<p>
			Beer:<br>
			{{ form.beer }}<br>
			{% for error in form.beer.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Chilled:<br>
			{{ form.chilled }}<br>
			{% for error in form.chilled.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
			Filled:<br>
			{{ form.filled }}<br>
			{% for error in form.filled.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		<p>
			Tapped:<br>
			{{ form.tapped }}<br>
			{% for error in form.tapped.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.submit }}
		</p>
	</form>
	<div class="full">
		<table>
			<colgroup>
				<col span="1", style="background-color:yellow">
			</colgroup>
			<tr>
				<th><strong>Kegerator:</strong></th>
				<th>{{ keg.kegerator }}</th>
			</tr>
			<tr>
				<th><strong>Chilled:</strong></th>
				<th>{{ keg.chilled }}</th>
			</tr>
			<tr>
				<th><strong>Filled:</strong></th>
				<th>{{ keg.filled }}</th>
			</tr>
			<tr>
				<th><strong>Tapped:</strong></th>
				<th>{{ keg.tapped }}</th>
			</tr>
		</table>
	</div>
{% endblock %}
