{% extends "base.html" %}
{% block content %}
<script>
$(window).load( function() {
	var beerColors = {
		'Pale Ale' : '#FACA4C',
		'Amber' : '#B15F0C'
	};
	var beerHeight = 2 + ($('.keg-content').height() - 2) * $('#filled')[0].value / 100;
	$('#beer').height(beerHeight);
	var beerColor = $('#beer-info').text().trim();
	$('#beer').css('background-color', beerColors[beerColor]);
	var airHeight = $('.keg-content').height() - beerHeight;
	$('#air').height(airHeight);
});
</script>
<div class="obj">
	{% if keg %}
	<div id='beer-info'>
		{{ keg.beer.style }}
	</div>
	<div class='keg-visual'>
		<div class='keg-top'></div>
		<div class='keg-body'>
			<div class='keg-content'>
				<div id='air'></div>
				<div id='beer'></div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<div class="full">
	<table>
		<colgroup>
			<col span="1", style="background-color:yellow">
		</colgroup>
		<tr>
			<th><strong>Kegerator:</strong></th>
			<th>
				<a href="{{url_for('kegerator', id=keg.kegerator.id)}}">{{keg.kegerator}}</a>
			</th>
		</tr>
		<tr>
			<th><strong>Chilled:</strong></th>
			<th>{{ keg.chilled }}</th>
		</tr>
		<tr>
			<th><strong>Filled:</strong></th>
			<th>{{ keg.filled }}</th>
		</tr>
		<tr>
			<th><strong>Tapped:</strong></th>
			<th>{{ keg.tapped }}</th>
		</tr>
	</table>
</div>
</div>
<button class='btn btn-default' data-toggle="modal" data-target="#myModal">
	Edit this Keg
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop = "false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<form action="" method="post" name="keg" class="fields">
					{{ form.hidden_tag() }}
					<p>
					Beer:
					{{ form.beer_id }}<br>
					{% for error in form.beer_id.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					</p>
					<p>
					Chilled:
					{{ form.chilled }}<br>
					{% for error in form.chilled.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					</p>
					<p>
					Filled:
					{{ form.filled }}%<br>
					{% for error in form.filled.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					</p>
					<p>
					Tapped:
					{{ form.tapped }}<br>
					{% for error in form.tapped.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					</p>
					<p>
					Stocked:
					{{ form.stocked }}
					</p>
					<p>
					{{ form.submit }}
					</p>
				</form>
			</div> <!-- closing modal body -->
		</div> <!-- closing modal content -->
	</div> <!-- closing modal dialog -->
</div> <!-- closing modal -->
{% endblock %}
