{% extends "base.html" %}
{% block content %}
	{% if kegerator %}
		{{ kegerator }}
	{% endif %}
	<form action="" method="post" name="beer">
		{{ form.hidden_tag() }}
		<p>
			Name:<br>
			{{ form.name }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			CO2:<br>
			{{ form.co2 }}<br>
			{% for error in form.co2.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Keg:<br>
			{{ form.keg }}<br>
			{% for error in form.keg.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Floor:<br>
			{{ form.floor }}<br>
			{% for error in form.floor.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p><input type="Submit" value="Submit"></p>
	</form>
{% endblock %}
