{% extends "base.html" %}
{% block content %}
	<div class="obj">
		{% if kegerator %}
			{{ kegerator }}
		{% endif %}
	</div>
	<form action="" method="post" name="beer" class="fields">
		{{ form.hidden_tag() }}
		<p>
			Name:<br>
			{{ form.name }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			CO2:<br>
			{{ form.co2 }}<br>
			{% for error in form.co2.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Keg:<br>
			{{ form.keg }}<br>
			{% for error in form.keg.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			Floor:<br>
			{{ form.floor }}<br>
			{% for error in form.floor.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p><input type="Submit" value="Submit"></p>
	</form>
	<div class="full">
		<table>
			<colgroup>
				<col span="1", style="background-color:yellow">
			</colgroup>
			<tr>
				<th><strong>Name:</strong></th>
				<th>{{ kegerator.name }}</th>
			</tr>
			<tr>
				<th><strong>CO2:</strong></th>
				<th>{{ kegerator.co2 }}</th>
			</tr>
			<tr>
				<th><strong>Keg:</strong></th>
				<th>{{ kegerator.keg }}</th>
			</tr>
			<tr>
				<th><strong>Floor:</strong></th>
				<th>{{ kegerator.floor }}</th>
			</tr>
		</table>
	</div>
{% endblock %}
