{% extends "base.html" %}
{% block content %}
	<div class="full">
		<table>
			<colgroup>
				<col span="1", style="background-color:yellow">
			</colgroup>
			<tr>
				<th><strong>Name:</strong></th>
				<th>{{ kegerator.name }}</th>
			</tr>
			<tr>
				<th><strong>CO2:</strong></th>
				<th>{{ kegerator.co2 }}</th>
			</tr>
			<tr>
				<th><strong>Keg:</strong></th>
				<th>{{ kegerator.kegs }}</th>
			</tr>
			<tr>
				<th><strong>Floor:</strong></th>
				<th>{{ kegerator.floor_id }}</th>
			</tr>
		</table>
	</div>
	<button class='btn btn-default' data-toggle="modal" data-target="#myModal">
		Edit this kegerator
	</button>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop = "false">
  		<div class="modal-dialog">
    		<div class="modal-content">
        		<div class="modal-body">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<form action="" method="post" name="kegerator">
						{{ form.hidden_tag() }}
						<p>
							Name:<br>
							{{ form.name }}<br>
							{% for error in form.name.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							CO2:<br>
							{{ form.co2 }}<br>
							{% for error in form.co2.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							Keg:<br>
							{{ form.kegs }}<br>
							{% for error in form.kegs.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							Floor:<br>
							{{ form.floor_id }}<br>
							{% for error in form.floor_id.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						{{ form.submit }}
					</form>
	        	</div> <!-- closing modal body -->
	      	</div> <!-- closing modal content -->
	    </div> <!-- closing modal dialog -->
	</div> <!-- closing modal -->
{% endblock %}
