{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}
<ul>
	<li>Please only vote for each thing once. (I'm working on limiting it)</li>
	<li>Options are limited; so requesting 'dark beer' will get fulfilled much
	quicker than 'Irish Death'</li>
	<li> As always: Restrictions apply results may vary</li>
	<li>Thank you for voting!</li>
</ul>
{{ macros.list_fields(form) }}
<table style="width:30%">
	<tr>
		<td>Votes</td>
		<td>Name</td>
		<td>Vote!</td>
	</tr>
{% for request in requests %}
	<tr>
		<td>{{request.total}}</td> 
		<td>{{request.name}}</td>
		<td>
		<a href="{{url_for('request_beer', id=request.name)}}"><strong>Vote</strong></a>
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
